################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WeatherxUnit/WeatherReport/bin
/WeatherxUnit/WeatherReport/obj
